
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    color: blueviolet;
    background-color: black;
    box-decoration-break: calc(2re);
}

body {
    font-size: 1rem; /* Set site-wide font size to 10px */
    font-family: 'Times New Roman', Times, serif;

    line-height: 1.6; /* Assign a suitable line-height for body text */
}

.box {
    border: white 2px;
    text-decoration: none;
   justify-content: center;
   margin: auto;
   display:flex;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

header h1 {
   font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    letter-spacing: 2px; /* Adjust letter-spacing for headings */
    text-transform: uppercase; /* Optionally, make the heading uppercase for emphasis */
}

.container {
    display: flex; /* Implement flexbox for the main layout */
    justify-content: space-between;
    padding: 2rem;

}


.summary, .courses, .navigation {
    width: 30%;
    height: 15%;

}


.summary h2, .courses h2, .navigation h2 {
    font-family: "Your Serif Font", serif;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-transform: capitalize; /* Optionally, capitalize the headings */
}

.nodot {
    display: flex;
    list-style-type: none;
    width: 150px;
    height: 75px;
    font-size: 1rem;
   
    border-radius: 10%;
   
}
  
.courses ul li, p, a {
    color: rgb(172, 94, 245);
}

.courses ul {
    list-style: none;
}

.courses ul li {
    margin-bottom: 1rem;
}

.courses>ul>li>a:hover {
     text-decoration: none;
}

.see-more {
    display: block;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    color: #620470;
    background-color: rgb(4, 1, 5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.see-more:hover {
    background-color: #555;
    color: #fff;
}

.course-summery {
    font-weight: 600;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

